<div class="main-container-card">
    <div class="container-info">
        <div class="img-card">
            <app-game-movie-img
            [movieImageUrl]="movieImageUrl"
            [lives]="livesRemaining"
            [guessedCorrectly]="guessedCorrectly"></app-game-movie-img>
        </div>
        <div class="container-image-info-entry">
            <app-game-movie-lives [lives]="livesRemaining"></app-game-movie-lives>
            <app-game-movie-entry
                *ngIf="!movieSelected"
                [movieToGuessId]="movieToGuessId"
                (submitMovieEvent)="submitMovieHandler($event)"
                (movieSelected)="onMovieSelected($event)"></app-game-movie-entry>
            <app-game-movie-info
                *ngIf="movieSelected"
                [movieTitle]="selectedMovieTitle"
                [releaseYear]="selectedMovieReleaseYear"
                [director]="selectedMovieDirector"></app-game-movie-info>
            <app-game-movie-buttons></app-game-movie-buttons>
        </div>
    </div>
</div>
