.img-container {
    width: 70%;
    display: flex;
    justify-content: center;
}

.img-card {
    width: 500px;
    /* Tamanho fixo ou mínimo para a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-card img {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blur-4 img {
    filter: blur(25px);
    /* Valor máximo de desfoque */
}

.blur-3 img {
    filter: blur(20px);
    /* Valor médio de desfoque */
}

.blur-2 img {
    filter: blur(15px);
    /* Valor mínimo de desfoque */
}

.blur-1 img {
    filter: blur(10px);
    /* Valor quase sem desfoque */
}

.no-blur img {
    filter: blur(0);
    /* Sem desfoque */
}