<div class="main-container">
    <div class="content-puzzles">
        <a (click)="gameLevelSelector('game-movie')"><label>Filme</label><i class="fa-solid fa-film"></i></a>
        <a (click)="gameLevelSelector('game-music')"><label>Música</label><i class="fa-solid fa-music"></i></a>
        <a (click)="gameLevelSelector('game-videogame')"><label>Jogo</label><i class="fa-solid fa-gamepad"></i></a>
        <a (click)="gameLevelSelector('game-manga')"><label>Geek</label><i class="fa-regular fa-comment-dots"></i></a>
    </div>
</div>